In [1]:
import pandas as pd
import numpy as np

In [46]:
IndiaDF = pd.read_csv('india_Data.csv')

## DATASET

In [7]:
IndiaDF.head()

,TCO1,TCO2,TCO3,TCO4,ROI1,ROI2,ROI3,COM1,COM2,COM3,...,SC1,SC2,SC3,TC1,TC2,TC3,RCC1,RCC2,RCC3,Adoption cost
0,7,6,6,5,6,6,6,6,6,6,...,6,6,7,6,6,5,6,6,6,6
1,7,7,7,6,7,7,5,6,6,7,...,7,7,7,7,7,6,7,7,5,5
2,7,7,7,7,7,6,6,6,7,7,...,7,7,7,7,7,7,7,6,6,6
3,7,7,7,6,7,7,7,5,6,7,...,5,6,7,7,7,6,7,7,7,7
4,7,7,7,7,7,7,7,7,7,7,...,4,4,7,7,7,7,7,7,7,7

In [9]:
IndiaDF.shape

(772, 26)

## CHECKING FOR NULL VALUES

In [13]:
IndiaDF.isnull().sum()

TCO1             0
TCO2             0
TCO3             0
TCO4             0
ROI1             0
ROI2             0
ROI3             0
COM1             0
COM2             0
COM3             0
SCC1             0
SCC2             0
SCC3             0
IC1              0
IC2              0
IC3              0
SC1              0
SC2              0
SC3              0
TC1              0
TC2              0
TC3              0
RCC1             0
RCC2             0
RCC3             0
Adoption cost    0
dtype: int64

In [49]:
IndiaDF.isnull().sum().sum()

0

## CHECKING FOR DUPLICATED VALUES

In [18]:
IndiaDF.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
767    False
768    False
769    False
770    False
771    False
Length: 772, dtype: bool

In [19]:
IndiaDF.duplicated().sum()

75

duplicate value  can be present as people can give same answers hence same rows.

In [53]:
duplicated_rows = IndiaDF[IndiaDF.duplicated()]
duplicated_rows[Adoption cost]

,TCO1,TCO2,TCO3,TCO4,ROI1,ROI2,ROI3,COM1,COM2,COM3,...,SC1,SC2,SC3,TC1,TC2,TC3,RCC1,RCC2,RCC3,Adoption cost
40,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
42,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
51,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
65,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
78,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
701,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,6
729,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
762,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,6
764,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,4

## CHECKING IF VALUES PRESENT OUTSIDE THE LIKERT SCALE

In [36]:
bool_df = IndiaDF > 7

In [37]:
bool_df.sum().sum()

0

In [38]:
bool_df1 = IndiaDF<1

In [39]:
bool_df1.sum().sum()

0

## STRONGLY AGREE AND STRONGLY DISAGREE COUNT IN ENTIRE DATASET

In [42]:
strongly_agree = IndiaDF == 7

In [43]:
strongly_agree.sum().sum()

10792

In [44]:
strongly_disagree = IndiaDF == 6

In [45]:
strongly_disagree.sum().sum()

5037