In [1]:
import pandas as pd
import numpy as np

In [2]:
IndiaDf = pd.read_csv('india_Data.csv')

In [4]:
IndiaDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TCO1           772 non-null    int64
 1   TCO2           772 non-null    int64
 2   TCO3           772 non-null    int64
 3   TCO4           772 non-null    int64
 4   ROI1           772 non-null    int64
 5   ROI2           772 non-null    int64
 6   ROI3           772 non-null    int64
 7   COM1           772 non-null    int64
 8   COM2           772 non-null    int64
 9   COM3           772 non-null    int64
 10  SCC1           772 non-null    int64
 11  SCC2           772 non-null    int64
 12  SCC3           772 non-null    int64
 13  IC1            772 non-null    int64
 14  IC2            772 non-null    int64
 15  IC3            772 non-null    int64
 16  SC1            772 non-null    int64
 17  SC2            772 non-null    int64
 18  SC3            772 non-null    int64
 19  TC1            772 non-null    int64
 20  TC2            772 non-null    int64
 21  TC3            772 non-null    int64
 22  RCC1           772 non-null    int64
 23  RCC2           772 non-null    int64
 24  RCC3           772 non-null    int64
 25  Adoption cost  772 non-null    int64
dtypes: int64(26)
memory usage: 156.9 KB

In [7]:
IndiaDf.head()

,TCO1,TCO2,TCO3,TCO4,ROI1,ROI2,ROI3,COM1,COM2,COM3,...,SC1,SC2,SC3,TC1,TC2,TC3,RCC1,RCC2,RCC3,Adoption cost
0,7,6,6,5,6,6,6,6,6,6,...,6,6,7,6,6,5,6,6,6,6
1,7,7,7,6,7,7,5,6,6,7,...,7,7,7,7,7,6,7,7,5,5
2,7,7,7,7,7,6,6,6,7,7,...,7,7,7,7,7,7,7,6,6,6
3,7,7,7,6,7,7,7,5,6,7,...,5,6,7,7,7,6,7,7,7,7
4,7,7,7,7,7,7,7,7,7,7,...,4,4,7,7,7,7,7,7,7,7

##  IMPORTS

In [78]:
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

## Features and Target

In [15]:
x = IndiaDf.iloc[:,0:25].values  #features
y = IndiaDf.iloc[:,25].values    #target

In [16]:
x

array([[7, 6, 6, ..., 6, 6, 6],
       [7, 7, 7, ..., 7, 7, 5],
       [7, 7, 7, ..., 7, 6, 6],
       ...,
       [7, 7, 7, ..., 7, 7, 7],
       [4, 4, 4, ..., 6, 4, 5],
       [7, 7, 7, ..., 7, 7, 7]], dtype=int64)

In [8]:
X = IndiaDf.drop(columns=['Adoption cost'])
Y = IndiaDf['Adoption cost']

In [10]:
X.head()

,TCO1,TCO2,TCO3,TCO4,ROI1,ROI2,ROI3,COM1,COM2,COM3,...,IC3,SC1,SC2,SC3,TC1,TC2,TC3,RCC1,RCC2,RCC3
0,7,6,6,5,6,6,6,6,6,6,...,6,6,6,7,6,6,5,6,6,6
1,7,7,7,6,7,7,5,6,6,7,...,7,7,7,7,7,7,6,7,7,5
2,7,7,7,7,7,6,6,6,7,7,...,7,7,7,7,7,7,7,7,6,6
3,7,7,7,6,7,7,7,5,6,7,...,6,5,6,7,7,7,6,7,7,7
4,7,7,7,7,7,7,7,7,7,7,...,4,4,4,7,7,7,7,7,7,7

## Training and Testing

In [302]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7, random_state=42)
X_train.shape, X_test.shape

((540, 25), (232, 25))

In [35]:
Y_test

538    6
213    7
361    7
417    5
582    7
      ..
453    7
752    7
707    7
623    7
198    5
Name: Adoption cost, Length: 232, dtype: int64

In [18]:
 Y_train.shape, Y_test.shape

((540,), (232,))

In [42]:
Y_test.head()

538    6
213    7
361    7
417    5
582    7
Name: Adoption cost, dtype: int64

In [303]:
classifier_rf = RandomForestClassifier(random_state=42, n_jobs=-1, max_depth=None,
                                       n_estimators= 300,min_samples_leaf= 2, min_samples_split= 5)

In [304]:
classifier_rf.fit(X_train, Y_train)

RandomForestClassifier(min_samples_leaf=2, min_samples_split=5,
                       n_estimators=300, n_jobs=-1, random_state=42)

In [73]:
prediction = classifier_rf.predict(X_test)
print(prediction)

[7 7 7 5 7 7 6 5 7 7 7 6 3 7 6 7 4 7 7 7 5 6 7 7 7 5 7 4 7 5 7 1 6 7 7 7 4
 6 7 5 5 7 7 7 4 5 6 6 7 6 7 7 5 6 7 5 4 7 7 6 7 1 5 5 7 5 7 7 7 7 4 7 5 7
 4 7 7 7 5 7 6 6 7 5 7 5 7 5 7 7 7 7 7 5 7 7 7 7 7 5 7 7 7 6 6 6 6 6 7 5 7
 5 4 7 6 7 5 5 6 7 6 7 7 7 6 7 7 6 5 6 6 4 6 6 6 7 7 6 7 6 4 7 6 6 7 5 6 6
 7 6 7 5 7 7 7 7 6 7 6 7 7 5 7 7 7 7 7 7 7 6 6 4 6 6 6 7 7 6 6 7 7 7 6 7 6
 6 6 6 6 5 6 6 6 5 7 7 4 7 6 5 4 6 6 7 7 6 7 4 6 4 7 7 5 7 5 5 6 6 7 7 7 6
 6 6 6 6 7 6 7 7 7 5]

In [307]:
prediction_mse = mean_squared_error(Y_test,prediction)
print("Adoption Cost error:", prediction_mse)
r_squared = r2_score(Y_test,prediction)
print("R-squared:", r_squared)

print('the accuracy is', r_squared*100 )

Adoption Cost error: 1.5948275862068966
R-squared: -0.17590651926738743
the accuracy is -17.590651926738744

In [308]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [None, 10, 20, 30, 40, 50, 60],
    'n_estimators': [100, 200, 300],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

rf = RandomForestClassifier(random_state=42)

grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2)
grid_search.fit(X_train, Y_train)

best_params = grid_search.best_params_
print("Best parameters:", best_params)

best_model = grid_search.best_estimator_

Fitting 5 folds for each of 189 candidates, totalling 945 fits

C:\Users\swabhi\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(

Best parameters: {'max_depth': None, 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 300}

In [311]:
accuracy = accuracy_score(Y_test, prediction)
r2 = r2_score(Y_test, prediction)
print("R-squared:", r2)
print("Accuracy:", accuracy)

R-squared: -0.17590651926738743
Accuracy: 0.6982758620689655

In [315]:
model = RandomForestRegressor(n_jobs=-1)


param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2, scoring='neg_mean_squared_error')
grid_search.fit(X_train, Y_train)

best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

print("Best parameters:", best_params)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits
Best parameters: {'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 100}

In [209]:
model = RandomForestRegressor(random_state=38,n_jobs=-1, max_depth=10,n_estimators= 100,min_samples_leaf=6, min_samples_split=2)
model.fit(X_train, Y_train)

prediction_regressor = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(Y_test, prediction_regressor)
print("Mean Squared Error:", mse)

# Calculate R-squared
r2 = r2_score(Y_test, prediction_regressor)
print("R-squared:", r2)

# Calculate and print accuracy as a percentage
accuracy = r2 * 100
print(f"The accuracy is: {accuracy} % ")

Mean Squared Error: 1.0436600556587283
R-squared: 0.23048317325202528
The accuracy is: 23.04831732520253 %

In [330]:
model = RandomForestRegressor(n_jobs=-1, max_depth=14,n_estimators= 147,min_samples_leaf=10, min_samples_split=18,max_features='auto')
model.fit(X_train, Y_train)

prediction_regressor = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(Y_test, prediction_regressor)
print("Mean Squared Error:", mse)

# Calculate R-squared
r2 = r2_score(Y_test, prediction_regressor)
print("R-squared:", r2)

# Calculate and print accuracy as a percentage
accuracy = r2 * 100
print(f"The accuracy is: {accuracy} % ")

Mean Squared Error: 1.0159766776899561
R-squared: 0.2508948245868545
The accuracy is: 25.089482458685453 %

In [326]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Define the parameter distribution
param_dist = {
    'n_estimators': randint(50, 500),
    'max_depth': [None] + list(randint(1, 50).rvs(10)),
    'min_samples_split': randint(2, 20),
    'min_samples_leaf': randint(1, 20),
    'max_features': ['auto', 'sqrt', 'log2', None]
}

# Initialize the model
rf = RandomForestRegressor(n_jobs=-1)

# Perform randomized search
random_search = RandomizedSearchCV(estimator=rf, param_distributions=param_dist, n_iter=100, cv=5, n_jobs=-1, verbose=2)
random_search.fit(X_train, Y_train)

# Print the best parameters found by RandomizedSearchCV
print("Best parameters found: ", random_search.best_params_)

# Train the model with the best parameters
best_rf = random_search.best_estimator_
best_rf.fit(X_train, Y_train)

# Make predictions
prediction_regressor = best_rf.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(Y_test, prediction_regressor)
print("Mean Squared Error:", mse)

# Calculate R-squared
r2 = r2_score(Y_test, prediction_regressor)
print("R-squared:", r2)

# Calculate and print accuracy as a percentage
accuracy = r2 * 100
print(f"The accuracy is: {accuracy} % ")

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Best parameters found:  {'max_depth': 14, 'max_features': 'auto', 'min_samples_leaf': 10, 'min_samples_split': 18, 'n_estimators': 147}
Mean Squared Error: 1.0233024491451201
R-squared: 0.24549334891180763
The accuracy is: 24.549334891180763 %

In [398]:
model = RandomForestRegressor(n_jobs=-1, max_depth=14,n_estimators= 147,min_samples_leaf=10, min_samples_split=18,max_features='auto')
model.fit(X_train, Y_train)
prediction_regressor = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(Y_test, prediction_regressor)
print("Mean Squared Error:", mse)

# Calculate R-squared
r2 = r2_score(Y_test, prediction_regressor)
print("R-squared:", r2)

# Calculate and print accuracy as a percentage
accuracy = r2 * 100
print(f"The accuracy is: {accuracy} % ")

Mean Squared Error: 1.0140609593691299
R-squared: 0.2523073319212037
The accuracy is: 25.23073319212037 %

In [406]:
model = RandomForestRegressor(n_jobs=-1, max_depth=14,n_estimators= 147,min_samples_leaf=10, min_samples_split=18,max_features='auto')
model.fit(X_train, Y_train)
prediction_regressor = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(Y_test, prediction_regressor)
print("Mean Squared Error:", mse)

# Calculate R-squared
r2 = r2_score(Y_test, prediction_regressor)
print("R-squared:", r2)

# Calculate and print accuracy as a percentage
accuracy = r2 * 100
print(f"The accuracy is: {accuracy} % ")

Mean Squared Error: 1.022715360010633
R-squared: 0.2459262245070163
The accuracy is: 24.59262245070163 %